h1{
    color: darkmagenta;
    font-family: cursive;
    text-align: center;
    text-decoration: solid;
    font-size: 60px;
    
}

#ff1{
    
    padding: 0px 10px 0px 10px ;
    position: relative;
    left: auto;
    margin-left: 65px;
}

.mySlides{
    background-position: center;
    position: relative;
    left: 320px;
}

body{
    background-image: url("ImagJava/bg.jpg");
    background-repeat: no-repeat;
              background-size: cover;
}
.main-content{
	display:flex;
	color:white;
	margin:0px;
	padding:0px;
    bottom:0px;
	width:100%;
	opacity:0.8;
	background:#000000;
	color:white;
}
.main-content .box{
	 flex-basis:50%;
	 padding:10px 15px; 
}
.box h2{
	font-size:1.125rem;
	font-weight:600;
	text-transform:uppercase;
}
.box .content{
	margin:20px 0 0 0;
}
.left .content p{
	text-align:justify;
	font-size:16px;
}
.left .content .social {
	margin: 20px 0 0 0;
	
}
.left .content .social a{
	padding:0 2px;
	color:white;
}
.left .content .social a span{
	 height:40px;
	 width:40px;
	 background:#1a1a1a;
	 line-height:40px;
	 text-align:center;
	 font-size:18px;
	 border-radius:5px;
	 transition:0.3s;
}

.left .content .social a span:hover{
	background:#f12020;
}
.center h2, .center .content{
	padding-left:150px;
}
.center .content span{
	padding-bottom:8px;
	font-size:14px;
}